@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./_utilities.scss";
@import "./loaders.scss";

body{
  overscroll-behavior: none;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 35%, rgba(233,207,242,1) 100%);
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  &:not(:placeholder-shown) {
    &:valid {
      border: 1px solid $success;
    }
    &:invalid {
      border: 1px solid $danger;
    }
  }
}

form:invalid button[type="submit"] {
  filter: grayscale(1);
  pointer-events: none;
}

.bg-purple{
  background-color: #a76cbd;
}

.text-purple{
  color: #6A50A1;
}

.beauty{
  font-family: 'Gafata', sans-serif;
}

.gore{
  font-family: 'Mate SC', serif;
}

.realism{
  font-family: 'Jacques Francois', serif;
}

.prosthetics{
  font-family: 'Gabriela', serif;
}

.jost{
  font-family: 'Jost', sans-serif;
}

.headland-one{
  font-family: 'Headland One', serif;
}

.montserrat{
  font-family: 'Montserrat', sans-serif;
}

.karla{
  font-family: 'Karla', sans-serif;
}

.playfair{
  font-family: 'Playfair Display', serif;
}